body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #B9D6F2;
}
#calculator{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #FFEAAE;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: #68540c30;

}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: #011638;
    color: whitesmoke;
    font-size: 3rem;
    font-weight: bold;
    cursor: bold;
    cursor: pointer;
}
button:hover{
    background-color: #052A66;
}
button:active{
    background-color: #0B449F;
}
.opperator-button{
    background-color: #1567EB;
}
.opperator-button:hover{
    background-color: #817C7F;
}
.opperator-button:active{
    background-color: #beb3ba;
}